<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- <arg name="hardware_interface" default="EffortJointInterface" />
    <arg name="robot_name" default="uhvat" />
    <arg name="model" default="uhvat"/>
    <arg name="gui" default="false"/> -->

    <!-- Load controllers -->
    <!-- <group ns="$(arg robot_name)">

        <include file="$(find uhvat_control)/launch/uhvat_control.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="controllers" value="uhvat_joint1_torque_controller
                 uhvat_joint2_torque_controller"/>
        </include>

    </group> -->

    <!-- <include file="$(find uhvat_description)/launch/uhvat.launch" /> -->

    <node pkg="uhvat_ros_driver" name="driver_node" type="driver_node.py" output="screen"/>

</launch>
