<?xml version="1.0"?>
<launch>

    <arg name="hardware_interface" default="EffortJointInterface"/>
    <arg name="controllers" default="effort_controllers/JointEffortController"/>
    <arg name="robot_name" default="uhvat" />
    <arg name="model" default="uhvat" />
    <arg name="joint_state_frequency" default="200" />
    <arg name="robot_state_frequency" default="200" />

    <!-- Loads joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find uhvat_control)/config/controller.yaml" command="load" />
    <param name="/$(arg robot_name)/joint_state_controller/publish_rate" value="$(arg joint_state_frequency)" />

    <!-- Loads the controllers -->
    <node name="state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args=" joint_state_controller" />

    <!-- Loads the controllers -->
    <node name="controller_manager" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="--stopped $(arg controllers)" />

    <!-- Converts joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="joint_states" to="/$(arg robot_name)/joint_satates" />
        <param name="publish_frequency" value="$(arg robot_state_frequency)" />
    </node>

</launch>
